/*body */

.welcome-img {
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/monkey.jpg');
  background-size: cover;
  background-repeat: no-repeat;
/*  background-position: 50% 60%;
*/  z-index: 1;
  top: 0px;
  left: 0px;
}

.announcement {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: auto;
  height: auto;
  position: absolute;
  border: 1px white;
  background-color: white;
  opacity: 0.6;
  margin-top: 15%;
  margin-left: 70%;
  border-radius: 10px;
  padding: 2%;
  filter: alpha(opacity=60); 
  position: fixed;

}

.coming-soon {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: auto;
  height: auto;
  position: absolute;
  border: 1px white;
  background-color: white;
  opacity: 0.7;
  margin-top: 20%;
  margin-left: 5%;
  border-radius: 10px;
  padding: 2%;
  filter: alpha(opacity=60); 
  position: fixed;
}
/*
navbar CSS*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color: black;
    font-size: 36px; 
}

h1, h5, h6 {
    font-family: 'Shadows Into Light', cursive;
    color: black;
/*    color: #7E1946;*/
}

li a, .dropbtn {
    display: inline-block;
/*    color: #7E1946;*/
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {  
    display: block;
}


/*navbar */
.item-main {
    flex-grow: 0;
}

.nav-item {
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Bentham', serif;
}

.sub-item {
    font-size: 18px;
    font-family: 'Bentham', serif;
}

.title-seashell {
    height: 50px;
    width: auto;
    margin: 2%;
}


.navbar {
  display: flex; 
  align-items: stretch;
  justify-content: center;
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60); 
  height: 18%;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
}

.container-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
}

/*rsvp*/
.container-rsvp {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  margin: auto;

}

/*details*/
.container-detials{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin: auto;

}

.container-event-horizontal {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  width: 20%;

}

.container-event-vertical {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin: auto;

}

.buttons {
    display: flex; 
    justify-content: center;
    margin-top: 40px;
}

.rsvp-bg{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ADD8E6;
}


input[type=text] {
  width: 85%;
  font-size: 12px;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 5px;

}

/* 
rsvp */

#rsvp-container {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;


}

#rsvp-image {
  background-image: url('images/whale.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0px;
  left: 0px;

}

#rsvp-form {

}
/*
modal information */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-show {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}







