/*body */

body {
  background-image: url(http://localhost:5000/static/images/monkey.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


/*
navbar CSS*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    color: black;
    font-size: 36px;
    
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: black;
/*    color: #7E1946;*/
}

li a, .dropbtn {
    display: inline-block;
/*    color: #7E1946;*/
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {  
    display: block;
}

.signup {
    float: right;
}

/*
containers */

.container {
  display: flex; 
  align-items: stretch;
  justify-content: center;
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60); 



}


.container-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
}

.container-rsvp {
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  justify-content: center;

}


.buttons {
    display: flex; 
    justify-content: center;
    margin-top: 40px;

}



/*items in containers */
.item-main {
    flex-grow: 0;
}

.nav-item {
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Bentham', serif;
}

.sub-item {
    font-size: 18px;
    font-family: 'Bentham', serif;
/*    color: #7E1946;*/
}



.title-seashell {
    height: 50px;
    width: auto;
}



.annoucement {
    width: 300px;
    height: 100px;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    margin-left:auto;
    margin-right:auto;
  
}

.days-remaining {
    margin-top: 150px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 120px;

}


.seahorses {
    width: 150px;
    height: auto;
    padding-left: 180px;
    margin-right: auto;
    margin-left: auto;

}


