<html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<head>
	<title>{% block title %} Base {% endblock %}</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bentham|Grand+Hotel|Shadows+Into+Light" rel="stylesheet">

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

	<!-- Boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/static/rsvp.js"></script> 

	
</head>
  <body>

	<div class="navbar container-fluid">
	  <ul> 
	  	<center><h3>Brooke <span><img class="title-seashell" src="static/images/Seashell.svg"></span> Aaron</h3></center>
	  	<li class="nav-item"><a href="/">Home</a></li>
	  	<li class="dropdown nav-item">
	  		<a class="dropbtn">About Us</a>
	  		<div class="dropdown-content sub-item">
	  			<a href="/story">Our story</a>
	  			<a href="/photos">Photos</a>
	  		</div>
	  	</li> 
	  	<li class="dropdown nav-item">
	  		<a class="dropbtn">Details</a>
	  		<div class="dropdown-content sub-item">
	  			<a href="/events">Wedding Events</a>
	  			<a href="/things">Things to Do</a>
	  		</div>
	  	</li>
	  	<li class="dropdown nav-item">
	  		<a class="dropbtn">Bridal Party</a>
	  		<div class="dropdown-content sub-item">
	  			<a href="/events">Bridesmaids</a>
	  			<a href="/things">Groomsmen</a>
	  		</div>
	  	</li>
	  	<li class="nav-item"><a href="/hotels">Accommodations</a></li>
	  	<li class="nav-item"><a href="/registry">Registry</a></li>
	  	<li class="nav-item"><a href="/rsvp">RSVP</a></li>
	  </ul>
	</div>




	  {% block content %} Base {% endblock %}
</body>
</html>