<html>
<head>
	<title>{% block title %} Base {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
	
</head>


  <ul> 
  	<li><h3 style='color:yellow'>Brooke and Aaron</h3></li>
  	<li><a href="/">Home</a></li>
  	<li class="dropdown">
  		<a class="dropbtn">About Us</a>
  		<div class="dropdown-content">
  			<a href="/story">Our story</a>
  			<a href="/photos">Photos</a>
  		</div>
  	</li> 
  	<li class="dropdown">
  		<a class="dropbtn">Details</a>
  		<div class="dropdown-content">
  			<a href="/details">Itinerary</a>
  			<a href="/events">Events</a>
  		</div>
  	</li>
  	<li><a href="/hotels">Accommodations</a></li>
  	<li><a href="/registry">Registry</a></li>
  	<li><a href="/rsvp">RSVP</a></li>
  	<li class="signup"><a href="#">MyBaron</a></lI>
  	<li class="signup"><a href="#">Create an Account</a></li>
  <ul>


  {% block content %} Base {% endblock %}
</body>
</html>