
{% extends 'base.html' %}

{% block title %} Welcome {% endblock %} 

{% block content %}

	<div class="container-detials">
		<div><h3><u>Friday, July 26th</u></h3></div>
			<div class="container-event-vertical">
					<img src="static/images/romantic-dinner.png">
					<h4>Rehearsal Dinner </h4>
					<h4>7:00 PM</h4>
				</div>
		<div><h3><u>Saturday, July 27th</u></h3></div>
			<div class="container-event-horizontal">
				<div class="container-event-vertical">
					<img src="static/images/rings.png">
					<center><h4>Ceremony </h4></center>
					<h4>6:00 PM</h4>
				</div>
				<div class="container-event-vertical">
					<img src="static/images/cheers.png">
					<center><h4>Cocktail Hour</h4></center>
					<h4>7:00 PM</h4>
				</div>
				<div class="container-event-vertical">
					<img src="static/images/cake.png">
					<center><h4>Reception</h4></center>
					<h4>8:00 PM</h4>
				</div>
				<div class="container-event-vertical">
					<img src="static/images/car.png">
					<center><h4>Farewell</h4></center>
					<h4>12:00 AM</h4>
				</div>

			</div>
		<div><h3><u>Sunday, July 28th</u></h3></div>

					<div class="container-event-horizontal">
				<div class="container-event-vertical">
					<img src="static/images/cup.png">
					<center><h4>Breakfast Begins </h4></center>
					<h4>7:00 AM</h4>
				</div>
				<div class="container-event-vertical">
					<img src="static/images/clean.png">
					<center><h4>Breakfast Ends </h4></center>
					<h4>11:00 AM</h4>
				</div>
				<div class="container-event-vertical">
					<img src="static/images/island.png">
					<center><h4>Party by the Bay </h4></center>
					<h4>12:00 PM</h4>
				</div>
	</div>
 
{% endblock %}     


