<html>
<head class="banana">
	<title>accommodations</title>
	<style>
	.potato {
		text-align: center;
		color: blue;
	}


	.f {
		margin: 5px;
		padding: 10px;
		font-size: 20;
		font-family: 'Shadows Into Light', cursive;

	}

	.container {
		margin-top: 200px;
	}

	</style>
</head>
<body>
 <div class="container f">
 <form action='#' method="GET" class="potato" class="f">
 	 First name: <input type="text" name="fname" class="f"><br>
 	 Last_name: <input type="text" name="lname" class="f"><br>
 	<h5 class="f">Do you like chocolate?</h5>
 	<input type="radio" name="options" value="yes" class="f">Yes
 	<input type="radio" name="options" value="no" class="f">No
 </form>
</div>
</body class="banana">
</html>