{% extends 'base.html' %}

{% block title %} RSVP {% endblock %} 

{% block content %}


<body class="rsvp-bg">  
  </body>
 
<div class="container-rsvp">
  <h3> Let us know if you can make it. We hope to "sea" you!</h3>
  <form action="/rsvp_response" class="rsvp-form" method="post">
  	First Name: <input type="text" name="fname" id="first-name"><br>
  	Last Name: <input type="text" name="lname" id="last-name"><br>
    Are you attending? 
    <input type="radio" name="rsvp" value="yes"> Yes
    <input type="radio" name="rsvp" value="no"> No <br>
     What is your phone number? <input type="text" name="phone" placeholder="optional"> <br>
     What is your email address? <input type="text" name="email" placeholder="optional"> <br>
     How many others (not including yourself) are you rsvping for? 
     <select id="other-rsvps">
      <option value="0">0</option>
  		<option value="1">1</option>
  		<option value="2">2</option>
  		<option value="3">3</option>
  		<option value="4">4</option> 
  		<option value="5">5</option> 
  		<option value="6">6</option>
  		<option value="7">7</option>  
  		<option value="8">8</option> 
  		<option value="9">9</option> 
  		<option value="10">10</option> 
	  </select>
	  <br>
    <button type="button" id="rsvp-button">Click Me!</button>
  </form>


<div id="rsvp-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>

</div>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/index.js"></script>
{% endblock %}     