{% extends 'base.html' %}

{% block title %} RSVP {% endblock %} 

{% block content %}


<body class="rsvp-bg">  
  </body>
 
<div class="container-rsvp container-fluid" id="rsvp-space">
  <div>
    <h3 id=".self-or-guest"> Plese email jesskos@gmail.com to RSVP or if you have any questions </h3>


    <form action="/rsvp_response" class="rsvp-form" id="submit-rsvp" method="post">
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Phone Updates?</th>
          <th>Email Updates?</th>
          <th>RSVP</th>
        </tr>
        <tr id="rsvp">
        	<td><input type="text" name="fname" id="first-name" required></td>
        	<td><input type="text" name="lname" id="last-name" required></td>
          <td><input type="text" name="email" placeholder="optional"></td>
          <td><input type="text" name="phone" placeholder="optional"></td>
          <td><input type="radio" name="update" value="yes" required> Yes
          <input type="radio" name="update" value="no" required> No</td>
          <td><input type="radio" name="e-update" value="yes" required> Yes
          <input type="radio" name="e-update" value="no" required> No</td>
          <td><input type="radio" name="rsvp" value="yes" required> Yes
          <input type="radio" name="rsvp" value="no" required> No <br></td>
        </tr>
    </table>

       <input type="submit" value="RSVP">
    </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>





{% endblock %}     