{% extends 'base.html' %}

{% block title %} Welcome {% endblock %} 

{% block content %}

  <div class="container-left">
    <img class="item-main main" src="http://localhost:5000/static/images/bridesmaid.jpg" alt="Main Picture">
    <div class="annoucement">
    	<h1>Saturday, July 27th 2019</h1>
    	<center><h1>Riverhead, NY</h1></cemter>
    	<h2 class="days-remaining"> 265 days to go!</h2>
    	<img class="seahorses" src="http://localhost:5000/static/images/seahorses4.png" alt="Darn Seahorses">
    </div>

  </div>



{% endblock %}     