{% extends 'base.html' %}

{% block title %} Welcome {% endblock %} 

{% block content %}

<div class="welcome-img">
	<div class="coming-soon">
		<h4>Website coming soon!</h4>
		<h5>Enter your email for updates</h5>
		<form action="/submit_email" id="submitEmail" method="post">
			<input type="text" id="email-text" placeholder="email">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="announcement">
		<center><h3>We're getting married!</h3></center>
		<center><h4>July 31, 2018 | Riverhead, NY </h4></center>
	</div>
</div>

 
{% endblock %}     