{% extends 'base.html' %}

{% block title %} Welcome {% endblock %} 

{% block content %}

<div class="welcome-img">
	<div class="coming-soon">
		<form action="/submit_email" id="submitEmail" method="post">
			<input type="text" id="email-text" placeholder="email">
			<input type="submit" value="RSVP">
		</form>
	</div>
	<div class="announcement">
		<center><h3>We're getting married!</h3></center>
		<center><h4>July 31, 2018</h4></center>
		<center><h4>Riverhead, NY</h4></center>
	</div>
</div>

 
{% endblock %}     